<div>

 <div class="row">
    <div class="col-xs-6">
       <select ng-model="grid.pageSize"
        ng-change="grid.onPageSizeChange()"
        ng-options="size for size in grid.pageSizes" > </select>
    </div>

    <div class="col-xs-6">
      <label>Search: <input ng-model="grid.search" /> </label>
    </div>
 </div>

 <div class="row">
   <table class="table table-striped table-bordered dataGrid">
     <thead>
        <tr>
           <th>Name</th>
           <th>Age</th>
           <th>City</th>
        </tr>
     </thead>
     <tbody>
      
       <tr ng-repeat="item in grid.list | filter: grid.search track by $index">
       		<td> {{item.name}} </td>
       		<td> {{item.age}} </td>
       		<td> {{item.city}} </td>
       </tr>

     </tbody>
   </table>
 </div>

 <div class="row">
    <pagination count="grid.count" size="grid.pageSize" 
       current-page="grid.pageNo" goto="grid.gotoPage(pageNo,size)" >
     </pagination>
 </div>





</div>