 <div>
 <div class="col-xs-3">
 <span> Showing {{page.start}} to {{page.end}} of {{page.count}} entries
  </div>

  <div class="col-xs-9">
  	<ul class="pagination">
    <li ng-class="{'disabled':  page.currentPage == 1 }" >
    	<!-- accessed by specially previleged people who donot have sight 
			Accessibility plays a bigger role 
			//machines like screen readers 
			not really urgent --accessibility pluralsight 
    	-->

      <a ng-click="page.gotoPage(page.currentPage - 1)" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    
    <li ng-repeat="pageNo in page.maxPages track by $index"
        ng-class="{'active': $index + 1 == page.currentPage }"  >
    	<a ng-click="page.gotoPage($index + 1)"  > {{$index + 1}}</a>
    </li>

    <li ng-class="{'disabled':  page.currentPage == page.total }">
      <a ng-click="page.gotoPage(page.currentPage + 1)" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>

    </li>
    </ul>
  </div>

 </div>