<div class="navbar" role="navigation" >
  <div class="container">
    <div class="menu-container">
      <!-- button displayed for mobile only -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="toggle-icon"></span>
      </button>
      <a class="navbar-brand animated flash" href="#">
        <span>V</span>ision CRM
      </a>
      
      <!-- Nav -->
      <div class="collapse navbar-collapse nav-collapse">
        <div class="menu-container">
          <ul class="navbar-nav navbar-nav-right menuItems">
          
            <!-- Dashboard -->
            <li class="nav-item">
              <a class="nav-item-child active" href="#dashboard">
                Dashboard
              </a>
            </li>
            <!-- End Dashboard -->
            <!-- Add Customer -->
            <li class="nav-item">
              <a class="nav-item-child" href="#addCustomer">
                Add Customer
              </a>
            </li>
            <!-- End Add Customer -->
            
            
          </ul>
        </div>
      </div>
      <!--End Nav -->
      
    </div>
  </div>
</div>