<!-- LOGO -->
<div class="topbar-left">
  <div class="text-center">
    <a href="index.html" class="logo"><i class="md md-terrain"></i> <span>Connect CRM </span></a>
  </div>
</div>
<!-- Button mobile view to collapse sidebar menu -->
<div class="navbar navbar-default" role="navigation">
<div class="container" ng-controller="TopController" >
    <ng-include src="'modules/layout/top/includes/searchForm.html'" > </ng-include>
    <ng-include src="'modules/layout/top/includes/topRightMenu.html'" > </ng-include>
</div>
s
</div>