.navbar-brand span{
color: #68A4C4;
font-weight: bold;
font-size: 25px;
}
.navbar-brand{
	font-size: 25px;
}


.nav-item{
	cursor: pointer;
}

.nav-item-child.active{
	
}

.btnGroup{
	margin-bottom: 20px;
}
body{
	padding: 100px;
}

a {
	color: blue;
	text-decoration: underline;
}
label.error{
	background: lightgoldenrodyellow;
    color: red;
}

input.error{
	border: 1px solid cyan;
}
