.navbar-brand span{
color: #68A4C4;
font-weight: bold;
font-size: 25px;
}
.navbar-brand{
	font-size: 25px;
}


.nav-item{
	cursor: pointer;
}

.nav-item-child.active{
	
}

.btnGroup{
	margin-bottom: 20px;
}